#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESCAPE     &kp Q  &kp W  &kp E  &kp R  &kp T                     &none         &kp Y  &kp U      &kp I      &kp O    &kp P     &kp BSPC
&kp TAB        &kp A  &kp S  &kp D  &kp F  &kp G       &none  &none  &none         &kp H  &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp CAPSLOCK   &kp Z  &kp X  &kp C  &kp V  &kp B  &kp SPACE           &none         &kp N  &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                             &kp LEFT_CONTROL  &lt 3 LEFT_ALT  &lt 2 ENTER                 &lt 1 SPACE  &kp DEL    &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&kp GRAVE      &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                     &none         &kp N6  &kp N7  &kp N8         &kp N9    &kp N0     &kp BSPC
&kp TILDE      &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT   &none  &none  &none    &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &kp BACKSLASH
&trans         &kp LBRC  &kp LEFT_BRACKET  &kp LESS_THAN  &kp GREATER_THAN  &kp RIGHT_BRACKET  &trans  &none  &kp RBRC  &kp MINUS  &trans     &trans    &kp EQUAL  &kp UNDER
                                &trans  &trans  &trans                                     &trans     &trans     &trans
            >;
        };

        raise_layer {
            display-name = "NAV/FN";
            bindings = <
&trans  &kp F1         &kp F2          &kp F3          &kp F4           &kp F5                &none         &kp F6  &kp F7  &kp F8   &kp F9   &kp F10  &kp BSPC
&trans  &kp PAGE_UP    &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &kp PAGE_DOWN  &none  &none  &none  &kp HOME  &kp LEFT  &kp DOWN  &kp RIGHT  &kp END  &kp F11
&trans  &bt BT_CLR_ALL &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3   &trans        &none  &bt BT_SEL 4  &bt BT_CLR  &rgb_ug RGB_TOG  &out OUT_TOG  &kp F12  &trans
                                       &trans          &trans          &kp SPACE                             &kp RET  &trans  &trans
            >;
        };

        // Example: zmk-companion's Canvas pages can be jumped to directly
        // with F13-F21 (page 1-9, no modifier), global hotkeys registered by
        // the app itself, see docs/user_guide.md "Jumping to a page on
        // demand". Almost nothing else binds F13+, so they're safe to send
        // from any spare key here without stepping on an existing shortcut.
        // Swap a &trans below for one of these to wire up a key, e.g.:
        //   &kp F13   -> jump to page 1
        //   &kp F14   -> jump to page 2
        //   ...
        //   &kp F21   -> jump to page 9
        adjust_layer {
            display-name = "ADJUST";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                        &trans  &trans  &trans
            >;
        };
    };
};
